#### Ashish Mahabal, Caltech/EDRN, August 2024
#### Load and display metadata
display 2 rows for each tab of each excl sheet, and summarize.

In [1]:
# basic imports
import os
import pandas as pd
from IPython.display import display

In [2]:
# A few functions
def display_dataframe(df, sheet_name):
    """Display the first two rows of the dataframe."""
    print(f"First two rows of sheet: {sheet_name}")
    display(df.head(2))  # Display the first two rows as a formatted DataFrame
    print()

def summarize_dataframe(df, sheet_name):
    """Summarize the given dataframe."""
    summary = {
        'Sheet Name': sheet_name,
        'Number of Rows': df.shape[0],
        'Number of Columns': df.shape[1],
        'Column Summary': []
    }
    
    for col in df.columns:
        col_summary = {
            'Column Name': col,
            'Data Type': df[col].dtype,
            'Number of Unique Values': df[col].nunique()
        }
        
        if pd.api.types.is_numeric_dtype(df[col]):
            col_summary['Mean'] = df[col].mean()
            col_summary['Standard Deviation'] = df[col].std()
            col_summary['Min'] = df[col].min()
            col_summary['Max'] = df[col].max()
        elif pd.api.types.is_categorical_dtype(df[col]) or pd.api.types.is_object_dtype(df[col]):
            col_summary['Most Frequent Value'] = df[col].mode().iloc[0]
            col_summary['Frequency'] = df[col].value_counts().iloc[0]
        
        summary['Column Summary'].append(col_summary)
    
    return summary

def print_sheet_summary(sheet_summary):
    """Print the summary for a single sheet."""
    print(f"    Number of Rows: {sheet_summary['Number of Rows']}")
    print(f"    Number of Columns: {sheet_summary['Number of Columns']}")
    for column in sheet_summary['Column Summary']:
        print(f"      Column: {column['Column Name']}")
        print(f"        Data Type: {column['Data Type']}")
        print(f"        Number of Unique Values: {column['Number of Unique Values']}")
        if 'Mean' in column:
            print(f"        Mean: {column['Mean']}")
            print(f"        Standard Deviation: {column['Standard Deviation']}")
            print(f"        Min: {column['Min']}")
            print(f"        Max: {column['Max']}")
        if 'Most Frequent Value' in column:
            print(f"        Most Frequent Value: {column['Most Frequent Value']}")
            print(f"        Frequency: {column['Frequency']}")
    print()

def summarize_excel_files(directory_path):
    """List all Excel files in the directory and summarize their contents."""
    excel_files = [f for f in os.listdir(directory_path) if f.endswith('.xlsx') or f.endswith('.xls')]
    
    for excel_file in excel_files:
        print(f"Processing file: {excel_file}")
        file_path = os.path.join(directory_path, excel_file)
        xls = pd.ExcelFile(file_path)
        
        for sheet_name in xls.sheet_names:
            print(f"  Processing sheet: {sheet_name}")
            df = pd.read_excel(xls, sheet_name=sheet_name)
            display_dataframe(df, sheet_name)  # Display the first two rows
            sheet_summary = summarize_dataframe(df, sheet_name)
            print_sheet_summary(sheet_summary)  # Print the summary for the sheet
        
        print()  # Add a space between processing different files

#### Get the summaries for the three metadata sets

In [3]:
summarize_excel_files('Collection1')

Processing file: GE Data Dictionary 447.xlsx
  Processing sheet: Study_Log
First two rows of sheet: Study_Log

,Tab,Column Name,Description,Key
0,A,Study,Patient anonymized study ID,C#### - Cases ...
1,B,Age,Age of patient at time of mammogram,NaN

    Number of Rows: 36
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: A
        Frequency: 1
      Column: Column Name
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: Age
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: Age of patient at time of mammogram
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 21
        Most Frequent Value: automatically calculated
        Frequency: 4


Processing file: An Automated System for Breast Cancer Biomarker Analysis Log 2024.xls
  Processing sheet: Definitions
First two rows of sheet: Definitions

,Tab,Column Name,Description,Key
0,A,Study,Patient anonymized study ID,C#### - Cases ...
1,B,Age,Age of patient at time of mammogram,NaN

    Number of Rows: 36
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: A
        Frequency: 1
      Column: Column Name
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: Age
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: Age of patient at time of mammogram
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 21
        Most Frequent Value: automatically calculated
        Frequency: 4

  Processing sheet: Data
First two rows of sheet: Data

,Study,Age,Side,Histology,ER,PR,HER,Scr_Hist,HRT,HRT_Duration,...,weight,height,height_in,height_m,weight_kg,BMI,Ethnicity,Race,brstsz ok/ge,other
0,C0001,48,L,1,1.0,1.0,-999.0,1,0,NaN,...,127,"5' 7""",67,1.7018,57.606231,19.890808,nh,w,1.0,calcs since '04
1,N0001,48,NaN,NaN,NaN,NaN,NaN,1,0,NaN,...,125,"5' 7""",67,1.7018,56.699046,19.577567,nh,w,NaN,NaN

    Number of Rows: 360
    Number of Columns: 33
      Column: Study
        Data Type: object
        Number of Unique Values: 360
        Most Frequent Value: C0001
        Frequency: 1
      Column: Age
        Data Type: int64
        Number of Unique Values: 49
        Mean: 58.56388888888889
        Standard Deviation: 10.414064113136735
        Min: 31
        Max: 83
      Column: Side
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: L
        Frequency: 97
      Column: Histology
        Data Type: object
        Number of Unique Values: 12
        Most Frequent Value: 1, 2
        Frequency: 64
      Column: ER
        Data Type: float64
        Number of Unique Values: 3
        Mean: -27.1
        Standard Deviation: 164.74097155685718
        Min: -999.0
        Max: 1.0
      Column: PR
        Data Type: float64
        Number of Unique Values: 3
        Mean: -32.766666666666666
        Standard Deviation: 179.92739379846014
        Min: -999.0
        Max: 1.0
      Column: HER
        Data Type: float64
        Number of Unique Values: 3
        Mean: -266.9555555555556
        Standard Deviation: 442.6711179691393
        Min: -999.0
        Max: 1.0
      Column: Scr_Hist
        Data Type: int64
        Number of Unique Values: 3
        Mean: 1.1277777777777778
        Standard Deviation: 0.4092326613218245
        Min: 1
        Max: 3
      Column: HRT
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.19722222222222222
        Standard Deviation: 0.39845531206961876
        Min: 0
        Max: 1
      Column: HRT_Duration
        Data Type: object
        Number of Unique Values: 31
        Most Frequent Value: 2
        Frequency: 18
      Column: HRT_Age
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: 50
        Frequency: 29
      Column: Loc
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: emag
        Frequency: 239
      Column: M_OS
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: M
        Frequency: 240
      Column: Case_final_path_Control_FU
        Data Type: object
        Number of Unique Values: 161
        Most Frequent Value: not due as of 7/11
        Frequency: 50
      Column: Fam_Hx_Br_Ca
        Data Type: object
        Number of Unique Values: 89
        Most Frequent Value: no
        Frequency: 174
      Column: Intl_detection
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.36597938144329895
        Standard Deviation: 0.48295004471131686
        Min: 0.0
        Max: 1.0
      Column: type_of_imgs
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: MG
        Frequency: 357
      Column: current_menses
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.2388888888888889
        Standard Deviation: 0.42699818828771496
        Min: 0
        Max: 1
      Column: Age_menses_stopped
        Data Type: object
        Number of Unique Values: 36
        Most Frequent Value: -999
        Frequency: 112
      Column: hx_bx
        Data Type: int64
        Number of Unique Values: 3
        Mean: -5.2555555555555555
        Standard Deviation: 74.38072070438598
        Min: -999
        Max: 1
      Column: bx_amount
        Data Type: float64
        Number of Unique Values: 6
        Mean: -313.55555555555554
        Standard Deviation: 466.7844533151229
        Min: -999.0
        Max: 6.0
      Column: density
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: 3
        Frequency: 195
      Column: birads
        Data Type: object
        Number of Unique Values: 13
        Most Frequent Value: 1
        Frequency: 134
      Column: weight
        Data Type: int64
        Number of Unique Values: 97
        Mean: 152.8138888888889
        Standard Deviation: 26.817682737274126
        Min: 94
        Max: 265
      Column: height
        Data Type: object
        Number of Unique Values: 22
        Most Frequent Value: 5' 3"
        Frequency: 51
      Column: height_in
        Data Type: int64
        Number of Unique Values: 16
        Mean: 64.41111111111111
        Standard Deviation: 2.5818930000956763
        Min: 57
        Max: 72
      Column: height_m
        Data Type: float64
        Number of Unique Values: 16
        Mean: 1.636042222222218
        Standard Deviation: 0.06558008220243018
        Min: 1.4478
        Max: 1.8288
      Column: weight_kg
        Data Type: float64
        Number of Unique Values: 97
        Mean: 69.31521403002778
        Standard Deviation: 12.164296270708263
        Min: 42.637682780000006
        Max: 120.20197805000001
      Column: BMI
        Data Type: float64
        Number of Unique Values: 272
        Mean: 25.939739342364636
        Standard Deviation: 4.5378063354385185
        Min: 15.65330297033205
        Max: 42.86793607273282
      Column: Ethnicity
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: nh
        Frequency: 326
      Column: Race
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: w
        Frequency: 321
      Column: brstsz ok/ge
        Data Type: float64
        Number of Unique Values: 3
        Mean: -404.6111111111111
        Standard Deviation: 492.32286482328743
        Min: -999.0
        Max: 1.0
      Column: other
        Data Type: object
        Number of Unique Values: 70
        Most Frequent Value: asym @ dx
        Frequency: 3

In [4]:
summarize_excel_files('Collection2')

Processing file: Automated Quantitative Measures of Breast Density Hormone Log.xlsx
  Processing sheet: Definitions
First two rows of sheet: Definitions

,Tab,Column,Descriptions,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Grade_Flag,Indicates if there are multiple values or not ...,0 - single value 1 - mult...

    Number of Rows: 40
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 40
        Most Frequent Value: A
        Frequency: 1
      Column: Column
        Data Type: object
        Number of Unique Values: 40
        Most Frequent Value: Avg_#_CEP17_copies_per_cell
        Frequency: 1
      Column: Descriptions
        Data Type: object
        Number of Unique Values: 30
        Most Frequent Value: Found in molecular pathology report
        Frequency: 4
      Column: Key
        Data Type: object
        Number of Unique Values: 18
        Most Frequent Value: 0 - single value                      1 - multiple values
        Frequency: 7

  Processing sheet: Data
First two rows of sheet: Data

,Study,Grade_Flag,Histologic_Grade,Grade_High,Grade_Low,Oncotype,Primary_Tumor,Regional_Lymph_Nodes,Distant_Metastasis_,Pathologic_Stage,...,er/pr/her,her-2,her-2_IHC,Staining_Intensity_HER,Result_Methodology_HER,her-2_Dual_ISH_(DISH),HER2/CEP 17 ratio,Tumor_Cells_Analyzed,Avg_#_HER2/neu_copies_per_cell,Avg_#_CEP17_copies_per_cell
0,C0250,0,2,NaN,NaN,17,T1b,pN0(i-),M0,IA,...,+/+/-,-1,-1,1+,-999,not-amplified,1.01,30,2.04,2.01
1,C0251,0,2,NaN,NaN,17,T1c,N0,M0,IA,...,+/+/-,-1,-1,0+,-999,not-amplified,1.24,20,2.3,1.85

    Number of Rows: 319
    Number of Columns: 40
      Column: Study
        Data Type: object
        Number of Unique Values: 319
        Most Frequent Value: C0250
        Frequency: 1
      Column: Grade_Flag
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.034482758620689655
        Standard Deviation: 0.18275227807622937
        Min: 0
        Max: 1
      Column: Histologic_Grade
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: 2
        Frequency: 145
      Column: Grade_High
        Data Type: float64
        Number of Unique Values: 2
        Mean: 2.727272727272727
        Standard Deviation: 0.46709936649691375
        Min: 2.0
        Max: 3.0
      Column: Grade_Low
        Data Type: float64
        Number of Unique Values: 2
        Mean: 1.7272727272727273
        Standard Deviation: 0.46709936649691375
        Min: 1.0
        Max: 2.0
      Column: Oncotype
        Data Type: object
        Number of Unique Values: 34
        Most Frequent Value: -999
        Frequency: 224
      Column: Primary_Tumor
        Data Type: object
        Number of Unique Values: 26
        Most Frequent Value: T2
        Frequency: 72
      Column: Regional_Lymph_Nodes
        Data Type: object
        Number of Unique Values: 18
        Most Frequent Value: N0
        Frequency: 186
      Column: Distant_Metastasis_
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: M0
        Frequency: 255
      Column: Pathologic_Stage
        Data Type: object
        Number of Unique Values: 15
        Most Frequent Value: IA
        Frequency: 118
      Column: ER
        Data Type: int64
        Number of Unique Values: 3
        Mean: -14.943573667711599
        Standard Deviation: 124.37368860060168
        Min: -999
        Max: 1
      Column: ER_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -3.1003134796238245
        Standard Deviation: 55.93529477136317
        Min: -999
        Max: 1
      Column: Nuclear_Reactivity_ER
        Data Type: object
        Number of Unique Values: 61
        Most Frequent Value: 1
        Frequency: 116
      Column: ER_High
        Data Type: float64
        Number of Unique Values: 9
        Mean: -90.07090909090908
        Standard Deviation: 301.4577744379649
        Min: -999.0
        Max: 1.0
      Column: ER_Low
        Data Type: float64
        Number of Unique Values: 9
        Mean: 0.70429
        Standard Deviation: 0.2744947619415229
        Min: 0.2
        Max: 0.98
      Column: ERI_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -3.06269592476489
        Standard Deviation: 55.93771092385684
        Min: -999
        Max: 1
      Column: Staining_Intensity_ER
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: 3+
        Frequency: 202
      Column: ERI_High
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 3+
        Frequency: 16
      Column: ERI_Low
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 2+
        Frequency: 13
      Column: Result_Methodology_ER
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 185
      Column: PR
        Data Type: int64
        Number of Unique Values: 3
        Mean: -15.112852664576803
        Standard Deviation: 124.35316841426616
        Min: -999
        Max: 1
      Column: PR_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -3.1003134796238245
        Standard Deviation: 55.93529477136317
        Min: -999
        Max: 1
      Column: Nuclear_Reactivity_PR
        Data Type: object
        Number of Unique Values: 74
        Most Frequent Value: 0
        Frequency: 49
      Column: PR_High
        Data Type: float64
        Number of Unique Values: 9
        Mean: -90.40909090909092
        Standard Deviation: 301.34571490082766
        Min: -999.0
        Max: 1.0
      Column: PR_Low
        Data Type: float64
        Number of Unique Values: 11
        Mean: -90.60000000000001
        Standard Deviation: 301.2823694144747
        Min: -999.0
        Max: 0.9
      Column: PRI_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -3.040752351097179
        Standard Deviation: 55.93910857901298
        Min: -999
        Max: 1
      Column: Staining_Intensity_PR
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: 3+
        Frequency: 127
      Column: PRI_High
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 3+
        Frequency: 18
      Column: PRI_Low
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 2+
        Frequency: 15
      Column: Result_Methodology_PR
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 189
      Column: er/pr/her
        Data Type: object
        Number of Unique Values: 16
        Most Frequent Value: +/+/-
        Frequency: 165
      Column: her-2
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -1
        Frequency: 211
      Column: her-2_IHC
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: -1
        Frequency: 196
      Column: Staining_Intensity_HER
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: 0+
        Frequency: 107
      Column: Result_Methodology_HER
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 215
      Column: her-2_Dual_ISH_(DISH)
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: not-amplified
        Frequency: 172
      Column: HER2/CEP 17 ratio
        Data Type: object
        Number of Unique Values: 124
        Most Frequent Value: -999
        Frequency: 122
      Column: Tumor_Cells_Analyzed
        Data Type: int64
        Number of Unique Values: 7
        Mean: -416.0282131661442
        Standard Deviation: 506.61561957165077
        Min: -999
        Max: 60
      Column: Avg_#_HER2/neu_copies_per_cell
        Data Type: object
        Number of Unique Values: 91
        Most Frequent Value: -999
        Frequency: 133
      Column: Avg_#_CEP17_copies_per_cell
        Data Type: object
        Number of Unique Values: 72
        Most Frequent Value: -999
        Frequency: 133


Processing file: Automated Quantitative Measures of Breast Density Study Log 2024.xlsx
  Processing sheet: Definitions
First two rows of sheet: Definitions

,Tab,Column Name,Description,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Age,Age of patient at time of mammogram (cases and...,NaN

    Number of Rows: 52
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 52
        Most Frequent Value: A
        Frequency: 1
      Column: Column Name
        Data Type: object
        Number of Unique Values: 52
        Most Frequent Value: # MM Lt Br
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 52
        Most Frequent Value: Age of patient at time of mammogram (cases and controls matched +/- 2 years)
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 22
        Most Frequent Value: 1 - yes                                                 0 - no
        Frequency: 10

  Processing sheet: Data
First two rows of sheet: Data

,Study,Age,Side,Histology,ER,PR,HER,Grp,HRT,HRT_Duration,...,# MM Rt Br,# MM Lt Br,PM Rt Br,PM Lt Br,# PM Rt Br,# PM Lt Br,Weight_kg,Height_in,Height_m,BMI
0,C0250,43,L,"1, 2",1.0,1.0,-1,1,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,78.017888,63,1.6002,30.46812
1,N0250,45,NaN,NaN,NaN,NaN,NaN,1,0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,102.058283,67,1.7018,35.23962

    Number of Rows: 638
    Number of Columns: 50
      Column: Study
        Data Type: object
        Number of Unique Values: 638
        Most Frequent Value: C0250
        Frequency: 1
      Column: Age
        Data Type: object
        Number of Unique Values: 59
        Most Frequent Value: 53
        Frequency: 28
      Column: Side
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: R
        Frequency: 164
      Column: Histology
        Data Type: object
        Number of Unique Values: 12
        Most Frequent Value: 2
        Frequency: 131
      Column: ER
        Data Type: float64
        Number of Unique Values: 3
        Mean: -14.93730407523511
        Standard Deviation: 124.37444410395652
        Min: -999.0
        Max: 1.0
      Column: PR
        Data Type: float64
        Number of Unique Values: 3
        Mean: -15.100313479623825
        Standard Deviation: 124.35469647139458
        Min: -999.0
        Max: 1.0
      Column: HER
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -1
        Frequency: 212
      Column: Grp
        Data Type: int64
        Number of Unique Values: 3
        Mean: 1.4137931034482758
        Standard Deviation: 0.6894115306110663
        Min: 1
        Max: 3
      Column: HRT
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.05329153605015674
        Standard Deviation: 0.22479045806737266
        Min: 0
        Max: 1
      Column: HRT_Duration
        Data Type: object
        Number of Unique Values: 42
        Most Frequent Value: 5
        Frequency: 17
      Column: HRT_age
        Data Type: object
        Number of Unique Values: 38
        Most Frequent Value: 50
        Frequency: 23
      Column: Loc
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: emag
        Frequency: 543
      Column: MCC/os
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: M
        Frequency: 484
      Column: Details
        Data Type: object
        Number of Unique Values: 38
        Most Frequent Value: palp abn
        Frequency: 16
      Column: Family_Hx_BC
        Data Type: object
        Number of Unique Values: 150
        Most Frequent Value: none
        Frequency: 356
      Column: Intl_Detection_Abnormality
        Data Type: int64
        Number of Unique Values: 3
        Mean: -4.432601880877743
        Standard Deviation: 68.41599372672441
        Min: -999
        Max: 1
      Column: Imaging_type
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: MG
        Frequency: 631
      Column: Machine_Number
        Data Type: object
        Number of Unique Values: 9
        Most Frequent Value: D2
        Frequency: 136
      Column: Current_Menses
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.23824451410658307
        Standard Deviation: 0.4263437227710849
        Min: 0
        Max: 1
      Column: Hysterectomy
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.28213166144200624
        Standard Deviation: 0.45039020399678353
        Min: 0
        Max: 1
      Column: Hyst_age
        Data Type: object
        Number of Unique Values: 45
        Most Frequent Value: 40
        Frequency: 13
      Column: hx_bx
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.3495297805642633
        Standard Deviation: 0.47719559314768883
        Min: 0
        Max: 1
      Column: hx_bx_Amount
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: 1
        Frequency: 138
      Column: MG_density
        Data Type: int64
        Number of Unique Values: 4
        Mean: 2.3213166144200628
        Standard Deviation: 0.797494205570293
        Min: 1
        Max: 4
      Column: MG_birads
        Data Type: object
        Number of Unique Values: 10
        Most Frequent Value: 1
        Frequency: 193
      Column: weight
        Data Type: int64
        Number of Unique Values: 150
        Mean: 156.10344827586206
        Standard Deviation: 119.57943815266509
        Min: -999
        Max: 378
      Column: height
        Data Type: object
        Number of Unique Values: 25
        Most Frequent Value: 5' 5"
        Frequency: 92
      Column: ethnicity
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: nh
        Frequency: 549
      Column: race
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: w
        Frequency: 546
      Column: Paddle_size
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 406
      Column: MRI
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.35893416927899685
        Standard Deviation: 0.48006422129755877
        Min: 0
        Max: 1
      Column: MRI_Loc
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: MIP
        Frequency: 172
      Column: Tech
        Data Type: object
        Number of Unique Values: 22
        Most Frequent Value: OEC
        Frequency: 113
      Column: MG before / after SM
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.780564263322884
        Standard Deviation: 0.4141890695632729
        Min: 0
        Max: 1
      Column: SM Rt Br
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.03715670436187399
        Standard Deviation: 0.18929863651353898
        Min: 0.0
        Max: 1.0
      Column: SM Lt Br
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.03376205787781351
        Standard Deviation: 0.1807614810146915
        Min: 0.0
        Max: 1.0
      Column: # SM Rt Br
        Data Type: float64
        Number of Unique Values: 4
        Mean: 0.0420032310177706
        Standard Deviation: 0.23766636480667128
        Min: 0.0
        Max: 3.0
      Column: # SM Lt Br
        Data Type: float64
        Number of Unique Values: 3
        Mean: 0.04019292604501608
        Standard Deviation: 0.22698463364560845
        Min: 0.0
        Max: 2.0
      Column: MM Rt Br
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.05331179321486268
        Standard Deviation: 0.2248361892863298
        Min: 0.0
        Max: 1.0
      Column: MM Lt Br
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.07395498392282958
        Standard Deviation: 0.26190824178866007
        Min: 0.0
        Max: 1.0
      Column: # MM Rt Br
        Data Type: float64
        Number of Unique Values: 5
        Mean: 0.08562197092084006
        Standard Deviation: 0.4111355250639049
        Min: 0.0
        Max: 4.0
      Column: # MM Lt Br
        Data Type: float64
        Number of Unique Values: 6
        Mean: 0.10272873194221509
        Standard Deviation: 0.43077989761131164
        Min: 0.0
        Max: 5.0
      Column: PM Rt Br
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.05492730210016155
        Standard Deviation: 0.22802256647746313
        Min: 0.0
        Max: 1.0
      Column: PM Lt Br
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.04180064308681672
        Standard Deviation: 0.20029440199717258
        Min: 0.0
        Max: 1.0
      Column: # PM Rt Br
        Data Type: float64
        Number of Unique Values: 3
        Mean: 0.05815831987075929
        Standard Deviation: 0.25411277369526375
        Min: 0.0
        Max: 3.0
      Column: # PM Lt Br
        Data Type: float64
        Number of Unique Values: 3
        Mean: 0.04662379421221865
        Standard Deviation: 0.23277334447894327
        Min: 0.0
        Max: 2.0
      Column: Weight_kg
        Data Type: float64
        Number of Unique Values: 150
        Mean: 65.67384194915368
        Standard Deviation: 105.40389591367386
        Min: -999.0
        Max: 171.45791586
      Column: Height_in
        Data Type: int64
        Number of Unique Values: 20
        Mean: 54.21316614420063
        Standard Deviation: 102.73574191986238
        Min: -999
        Max: 73
      Column: Height_m
        Data Type: float64
        Number of Unique Values: 20
        Mean: -7.7793373040752565
        Standard Deviation: 96.65585422910645
        Min: -999.0
        Max: 1.8542
      Column: BMI
        Data Type: float64
        Number of Unique Values: 462
        Mean: 18.82893946692297
        Standard Deviation: 99.47575803273627
        Min: -999.0
        Max: 69.13639466795064


Processing file: R01 Data Dictionary 448.xlsx
  Processing sheet: Study_Log
First two rows of sheet: Study_Log

,Tab,Column Name,Description,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Age,Age of patient at time of mammogram (cases and...,NaN

    Number of Rows: 49
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 49
        Most Frequent Value: A
        Frequency: 1
      Column: Column Name
        Data Type: object
        Number of Unique Values: 49
        Most Frequent Value: # MM Lt Br
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 49
        Most Frequent Value: Age of patient at time of mammogram (cases and controls matched +/- 2 years)
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 21
        Most Frequent Value: 1 - yes                                                 0 - no
        Frequency: 10

  Processing sheet: Birads_Log
First two rows of sheet: Birads_Log

  Tab   Column              Description            Key
0   A    Study          Study ID/Number  C##### - Case
1   B  MG_Date  Date of Study Mammogram            NaN

    Number of Rows: 24
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: A
        Frequency: 1
      Column: Column
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: Arch_Dist
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: Are there any associated features?
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 21
        Most Frequent Value: 0 - Calcification is not a benign type                                         1 - Calcification is a benign type
        Frequency: 1

  Processing sheet: Hormone_Log
First two rows of sheet: Hormone_Log

,Tab,Column,Descriptions,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Grade_Flag,Indicates if there are multiple values or not ...,0 - single value 1 - mult...

    Number of Rows: 40
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 40
        Most Frequent Value: A
        Frequency: 1
      Column: Column
        Data Type: object
        Number of Unique Values: 40
        Most Frequent Value: Avg_#_CEP17_copies_per_cell
        Frequency: 1
      Column: Descriptions
        Data Type: object
        Number of Unique Values: 30
        Most Frequent Value: Found in molecular pathology report
        Frequency: 4
      Column: Key
        Data Type: object
        Number of Unique Values: 18
        Most Frequent Value: 0 - single value                      1 - multiple values
        Frequency: 7


Processing file: Automated Quantitative Measures of Breast Density Birads Log.xlsx
  Processing sheet: Definitions
First two rows of sheet: Definitions

  BIRADS Sheet Unnamed: 1       Unnamed: 2     Unnamed: 3
0          Tab     Column      Description            Key
1            A      Study  Study ID/Number  C##### - Case

    Number of Rows: 48
    Number of Columns: 4
      Column: BIRADS Sheet
        Data Type: object
        Number of Unique Values: 26
        Most Frequent Value: A
        Frequency: 2
      Column: Unnamed: 1
        Data Type: object
        Number of Unique Values: 42
        Most Frequent Value: Column
        Frequency: 2
      Column: Unnamed: 2
        Data Type: object
        Number of Unique Values: 42
        Most Frequent Value: Date of Study Mammogram
        Frequency: 2
      Column: Unnamed: 3
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: 1 - yes                                                             0 - no
        Frequency: 9

  Processing sheet: Data
First two rows of sheet: Data

,Study,MG_Date,Number,BR_Comp,Masses,Shape,Margin,Density,Calcifications,Typically_Benign,...,Arch_Dist,Asym,IMLN,SL,SDD,Assoc_Feats,Laterality,Quadrant,Depth,Distance
0,C0250,2013-04-18,1,C,1,3.0,5,-999.0,0,NaN,...,0,0,0,0,0,0,L,1,2,4.5
1,C0250,2013-04-18,2,C,0,NaN,NaN,NaN,0,NaN,...,0,3,0,0,0,0,R,3,-999,11.0

    Number of Rows: 571
    Number of Columns: 24
      Column: Study
        Data Type: object
        Number of Unique Values: 318
        Most Frequent Value: C0292
        Frequency: 6
      Column: MG_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 260
      Column: Number
        Data Type: int64
        Number of Unique Values: 6
        Mean: 1.6760070052539404
        Standard Deviation: 0.9262841214417122
        Min: 1
        Max: 6
      Column: BR_Comp
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: B
        Frequency: 247
      Column: Masses
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.35376532399299476
        Standard Deviation: 0.4785566833892509
        Min: 0
        Max: 1
      Column: Shape
        Data Type: float64
        Number of Unique Values: 5
        Mean: -295.1930693069307
        Standard Deviation: 458.63095793199244
        Min: -999.0
        Max: 4.0
      Column: Margin
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: 5
        Frequency: 55
      Column: Density
        Data Type: float64
        Number of Unique Values: 5
        Mean: -716.6881188118812
        Standard Deviation: 451.3916753051075
        Min: -999.0
        Max: 4.0
      Column: Calcifications
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.2521891418563923
        Standard Deviation: 0.43465001765420813
        Min: 0
        Max: 1
      Column: Typically_Benign
        Data Type: float64
        Number of Unique Values: 3
        Mean: -249.50694444444446
        Standard Deviation: 434.2305790195268
        Min: -999.0
        Max: 1.0
      Column: Benign_Type
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: -999
        Frequency: 43
      Column: Sus_Morph
        Data Type: float64
        Number of Unique Values: 3
        Mean: -249.21527777777777
        Standard Deviation: 434.39954801703533
        Min: -999.0
        Max: 1.0
      Column: Sus_Type
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: -999
        Frequency: 40
      Column: Distr
        Data Type: float64
        Number of Unique Values: 6
        Mean: -303.34722222222223
        Standard Deviation: 463.055484893692
        Min: -999.0
        Max: 5.0
      Column: Arch_Dist
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.04203152364273205
        Standard Deviation: 0.20083703541426318
        Min: 0
        Max: 1
      Column: Asym
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: 0
        Frequency: 424
      Column: IMLN
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.08056042031523643
        Standard Deviation: 0.2723974800405734
        Min: 0
        Max: 1
      Column: SL
        Data Type: int64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0
        Max: 0
      Column: SDD
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.0017513134851138354
        Standard Deviation: 0.04184869753186902
        Min: 0
        Max: 1
      Column: Assoc_Feats
        Data Type: object
        Number of Unique Values: 19
        Most Frequent Value: 0
        Frequency: 493
      Column: Laterality
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: R
        Frequency: 294
      Column: Quadrant
        Data Type: object
        Number of Unique Values: 11
        Most Frequent Value: 2
        Frequency: 177
      Column: Depth
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: -999
        Frequency: 444
      Column: Distance
        Data Type: float64
        Number of Unique Values: 22
        Mean: -558.6042031523642
        Standard Deviation: 499.4702264450894
        Min: -999.0
        Max: 17.0

In [5]:
summarize_excel_files('Collection3')

Processing file: U01 Hormone Receptors.xlsx
  Processing sheet: Definitions
First two rows of sheet: Definitions

,Tab,Column,Descriptions,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Loc,NaN,NaN

    Number of Rows: 41
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 41
        Most Frequent Value: A
        Frequency: 1
      Column: Column
        Data Type: object
        Number of Unique Values: 41
        Most Frequent Value: Avg_#_CEP17_copies_per_cell
        Frequency: 1
      Column: Descriptions
        Data Type: object
        Number of Unique Values: 30
        Most Frequent Value: Found in molecular pathology report
        Frequency: 4
      Column: Key
        Data Type: object
        Number of Unique Values: 18
        Most Frequent Value: 0 - single value                      1 - multiple values
        Frequency: 7

  Processing sheet: Study Log
First two rows of sheet: Study Log

,Study,Loc,Grade_Flag,Histologic_Grade,Grade_High,Grade_Low,Oncotype,Primary_Tumor,Regional_Lymph_Nodes,Distant_Metastasis,...,er/pr/her,her-2,her-2_IHC,Staining_Intensity_HER,Result_Methodology_HER,her2_Dual_ISH_(DISH),HER2/CEP_17_ratio,Tumor_Cells_Analyzed,Avg_#_HER2/neu_copies_per_cell,Avg_#_CEP17_copies_per_cell
0,C0627,1,0,2,NaN,NaN,13,T1c,pN0,M0,...,+/+/-,-1,-1,1+,-999,-999,-999,-999,-999,-999
1,C0628,1,0,2,NaN,NaN,-999,pT2,pN1,M0,...,+/+/-,-1,-1,1+,Manual morphometric analysis,not amplified,1.51,20,2.5,1.6

    Number of Rows: 394
    Number of Columns: 41
      Column: Study
        Data Type: object
        Number of Unique Values: 380
        Most Frequent Value: C0769
        Frequency: 2
      Column: Loc
        Data Type: int64
        Number of Unique Values: 2
        Mean: 1.0786802030456852
        Standard Deviation: 0.26958130624319276
        Min: 1
        Max: 2
      Column: Grade_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -2.3984771573604062
        Standard Deviation: 50.336992581028774
        Min: -999
        Max: 1
      Column: Histologic_Grade
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: 2
        Frequency: 159
      Column: Grade_High
        Data Type: float64
        Number of Unique Values: 3
        Mean: -16.41509433962264
        Standard Deviation: 137.56487056633776
        Min: -999.0
        Max: 3.0
      Column: Grade_Low
        Data Type: float64
        Number of Unique Values: 3
        Mean: -17.433962264150942
        Standard Deviation: 137.4222170810096
        Min: -999.0
        Max: 2.0
      Column: Oncotype
        Data Type: int64
        Number of Unique Values: 27
        Mean: -854.5507614213197
        Standard Deviation: 355.3575036945037
        Min: -999
        Max: 69
      Column: Primary_Tumor
        Data Type: object
        Number of Unique Values: 40
        Most Frequent Value: T2
        Frequency: 74
      Column: Regional_Lymph_Nodes
        Data Type: object
        Number of Unique Values: 39
        Most Frequent Value: N0
        Frequency: 147
      Column: Distant_Metastasis
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: M0
        Frequency: 324
      Column: Pathologic_Stage
        Data Type: object
        Number of Unique Values: 20
        Most Frequent Value: IA
        Frequency: 124
      Column: ER
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.6395939086294417
        Standard Deviation: 0.7696903561429067
        Min: -1
        Max: 1
      Column: ER_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -5.022842639593908
        Standard Deviation: 71.08896326617909
        Min: -999
        Max: 1
      Column: Nuclear_Reactivity_ER
        Data Type: object
        Number of Unique Values: 41
        Most Frequent Value: 1
        Frequency: 154
      Column: ER_High
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: 1
        Frequency: 13
      Column: ER_Low
        Data Type: float64
        Number of Unique Values: 10
        Mean: -94.47571428571429
        Standard Deviation: 300.71383173328474
        Min: -999.0
        Max: 0.99
      Column: ERI_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -182.497461928934
        Standard Deviation: 386.58746610603373
        Min: -999
        Max: 1
      Column: Staining_Intensity_ER
        Data Type: object
        Number of Unique Values: 9
        Most Frequent Value: 3+
        Frequency: 251
      Column: ERI_High
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 72
      Column: ERI_Low
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -999
        Frequency: 72
      Column: Result_Methodology_ER
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: Manual morphometric analysis
        Frequency: 211
      Column: PR
        Data Type: int64
        Number of Unique Values: 3
        Mean: -9.614213197969542
        Standard Deviation: 100.32993105074156
        Min: -999
        Max: 1
      Column: PR_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -15.16497461928934
        Standard Deviation: 122.49956407098793
        Min: -999
        Max: 1
      Column: Nuclear_Reactivity_PR
        Data Type: object
        Number of Unique Values: 53
        Most Frequent Value: 0
        Frequency: 73
      Column: PR_High
        Data Type: float64
        Number of Unique Values: 11
        Mean: -260.1326086956522
        Standard Deviation: 448.8181127767927
        Min: -999.0
        Max: 1.0
      Column: PR_Low
        Data Type: float64
        Number of Unique Values: 12
        Mean: -260.32000000000005
        Standard Deviation: 448.70425846389776
        Min: -999.0
        Max: 0.96
      Column: PRI_Flag
        Data Type: int64
        Number of Unique Values: 3
        Mean: -230.66243654822335
        Standard Deviation: 421.602679786561
        Min: -999
        Max: 1
      Column: Staining_Intensity_PR
        Data Type: object
        Number of Unique Values: 9
        Most Frequent Value: 3+
        Frequency: 174
      Column: PRI_High
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 93
      Column: PRI_Low
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -999
        Frequency: 93
      Column: Result_Methodology_PR
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: Manual morphometric analysis
        Frequency: 207
      Column: er/pr/her
        Data Type: object
        Number of Unique Values: 23
        Most Frequent Value: +/+/-
        Frequency: 187
      Column: her-2
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -1
        Frequency: 251
      Column: her-2_IHC
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -1
        Frequency: 251
      Column: Staining_Intensity_HER
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: 1+
        Frequency: 130
      Column: Result_Methodology_HER
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -999
        Frequency: 198
      Column: her2_Dual_ISH_(DISH)
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: -999
        Frequency: 205
      Column: HER2/CEP_17_ratio
        Data Type: object
        Number of Unique Values: 121
        Most Frequent Value: -999
        Frequency: 193
      Column: Tumor_Cells_Analyzed
        Data Type: object
        Number of Unique Values: 11
        Most Frequent Value: -999
        Frequency: 217
      Column: Avg_#_HER2/neu_copies_per_cell
        Data Type: object
        Number of Unique Values: 83
        Most Frequent Value: -999
        Frequency: 203
      Column: Avg_#_CEP17_copies_per_cell
        Data Type: object
        Number of Unique Values: 60
        Most Frequent Value: -999
        Frequency: 207

  Processing sheet: Off Study
First two rows of sheet: Off Study

,Study,Loc,Grade_Flag,Histologic_Grade,Grade_High,Grade_Low,Oncotype,Primary_Tumor,Regional_Lymph_Nodes,Distant_Metastasis,...,er/pr/her,her-2,her-2_IHC,Staining_Intensity_HER,Result_Methodology_HER,her-2_Dual_ISH_(DISH),HER2/CEP_17_ratio,Tumor_Cells_Analyzed,Avg_#_HER2/neu_copies_per_cell,Avg_#_CEP17_copies_per_cell
0,"C0651 - OFF STUDY, BILATERAL BR CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C0718-OFF STUDY NO CONSENT FORM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Number of Rows: 12
    Number of Columns: 41
      Column: Study
        Data Type: object
        Number of Unique Values: 11
        Most Frequent Value: C0898
        Frequency: 2
      Column: Loc
        Data Type: float64
        Number of Unique Values: 1
        Mean: 1.0
        Standard Deviation: 0.0
        Min: 1.0
        Max: 1.0
      Column: Grade_Flag
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.25
        Standard Deviation: 0.4629100498862757
        Min: 0.0
        Max: 1.0
      Column: Histologic_Grade
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: 2
        Frequency: 3
      Column: Grade_High
        Data Type: float64
        Number of Unique Values: 2
        Mean: 2.5
        Standard Deviation: 0.7071067811865476
        Min: 2.0
        Max: 3.0
      Column: Grade_Low
        Data Type: float64
        Number of Unique Values: 2
        Mean: 1.5
        Standard Deviation: 0.7071067811865476
        Min: 1.0
        Max: 2.0
      Column: Oncotype
        Data Type: float64
        Number of Unique Values: 1
        Mean: -999.0
        Standard Deviation: 0.0
        Min: -999.0
        Max: -999.0
      Column: Primary_Tumor
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: T2
        Frequency: 2
      Column: Regional_Lymph_Nodes
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: N0
        Frequency: 4
      Column: Distant_Metastasis
        Data Type: object
        Number of Unique Values: 1
        Most Frequent Value: M0
        Frequency: 6
      Column: Pathologic_Stage
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 0
        Frequency: 2
      Column: ER
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.75
        Standard Deviation: 0.7071067811865476
        Min: -1.0
        Max: 1.0
      Column: ER_Flag
        Data Type: float64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0.0
        Max: 0.0
      Column: Nuclear_Reactivity_ER
        Data Type: float64
        Number of Unique Values: 6
        Mean: 0.70625
        Standard Deviation: 0.38953956336753703
        Min: 0.0
        Max: 1.0
      Column: ER_High
        Data Type: float64
        Number of Unique Values: 0
        Mean: nan
        Standard Deviation: nan
        Min: nan
        Max: nan
      Column: ER_Low
        Data Type: float64
        Number of Unique Values: 0
        Mean: nan
        Standard Deviation: nan
        Min: nan
        Max: nan
      Column: ERI_Flag
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.25
        Standard Deviation: 0.4629100498862757
        Min: 0.0
        Max: 1.0
      Column: Staining_Intensity_ER
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 3+
        Frequency: 5
      Column: ERI_High
        Data Type: object
        Number of Unique Values: 1
        Most Frequent Value: 3+
        Frequency: 2
      Column: ERI_Low
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: 1+
        Frequency: 1
      Column: Result_Methodology_ER
        Data Type: float64
        Number of Unique Values: 1
        Mean: -999.0
        Standard Deviation: 0.0
        Min: -999.0
        Max: -999.0
      Column: PR
        Data Type: float64
        Number of Unique Values: 3
        Mean: -124.75
        Standard Deviation: 353.2517313677114
        Min: -999.0
        Max: 1.0
      Column: PR_Flag
        Data Type: float64
        Number of Unique Values: 2
        Mean: -124.875
        Standard Deviation: 353.1998372026805
        Min: -999.0
        Max: 0.0
      Column: Nuclear_Reactivity_PR
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: <1%
        Frequency: 2
      Column: PR_High
        Data Type: float64
        Number of Unique Values: 1
        Mean: -9.99
        Standard Deviation: nan
        Min: -9.99
        Max: -9.99
      Column: PR_Low
        Data Type: float64
        Number of Unique Values: 1
        Mean: -9.99
        Standard Deviation: nan
        Min: -9.99
        Max: -9.99
      Column: PRI_Flag
        Data Type: float64
        Number of Unique Values: 3
        Mean: -249.625
        Standard Deviation: 462.52442020472205
        Min: -999.0
        Max: 1.0
      Column: Staining_Intensity_PR
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 3+
        Frequency: 4
      Column: PRI_High
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: -999
        Frequency: 2
      Column: PRI_Low
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: -999
        Frequency: 2
      Column: Result_Methodology_PR
        Data Type: float64
        Number of Unique Values: 1
        Mean: -999.0
        Standard Deviation: 0.0
        Min: -999.0
        Max: -999.0
      Column: er/pr/her
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: +/+/-
        Frequency: 2
      Column: her-2
        Data Type: float64
        Number of Unique Values: 3
        Mean: -499.75
        Standard Deviation: 533.7211015930645
        Min: -999.0
        Max: 1.0
      Column: her-2_IHC
        Data Type: float64
        Number of Unique Values: 3
        Mean: -499.75
        Standard Deviation: 533.7211015930645
        Min: -999.0
        Max: 1.0
      Column: Staining_Intensity_HER
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: -999
        Frequency: 4
      Column: Result_Methodology_HER
        Data Type: float64
        Number of Unique Values: 1
        Mean: -999.0
        Standard Deviation: 0.0
        Min: -999.0
        Max: -999.0
      Column: her-2_Dual_ISH_(DISH)
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: -999
        Frequency: 7
      Column: HER2/CEP_17_ratio
        Data Type: float64
        Number of Unique Values: 3
        Mean: -747.02
        Standard Deviation: 466.59454506639304
        Min: -999.0
        Max: 16.64
      Column: Tumor_Cells_Analyzed
        Data Type: float64
        Number of Unique Values: 2
        Mean: -869.125
        Standard Deviation: 367.34197282641145
        Min: -999.0
        Max: 40.0
      Column: Avg_#_HER2/neu_copies_per_cell
        Data Type: float64
        Number of Unique Values: 2
        Mean: -871.525
        Standard Deviation: 360.55374772702055
        Min: -999.0
        Max: 20.8
      Column: Avg_#_CEP17_copies_per_cell
        Data Type: float64
        Number of Unique Values: 2
        Mean: -873.96875
        Standard Deviation: 353.6417789409221
        Min: -999.0
        Max: 1.25


Processing file: U01 Birads Recall.xlsx

/Users/aam/miniconda3/lib/python3.6/site-packages/pandas/core/algorithms.py:921: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn(f"Unable to sort modes: {err}")

  Processing sheet: Definitions
First two rows of sheet: Definitions

  BIRADS Sheet Unnamed: 1       Unnamed: 2     Unnamed: 3
0          Tab     Column      Description            Key
1            A      Study  Study ID/Number  C##### - Case

    Number of Rows: 48
    Number of Columns: 4
      Column: BIRADS Sheet
        Data Type: object
        Number of Unique Values: 26
        Most Frequent Value: A
        Frequency: 2
      Column: Unnamed: 1
        Data Type: object
        Number of Unique Values: 42
        Most Frequent Value: MG_Date
        Frequency: 2
      Column: Unnamed: 2
        Data Type: object
        Number of Unique Values: 42
        Most Frequent Value: Date of Study Mammogram
        Frequency: 2
      Column: Unnamed: 3
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: 1 - yes                                                             0 - no
        Frequency: 9

  Processing sheet: BIRADS
First two rows of sheet: BIRADS

,Study,MG_Date,Number,BR_Comp,Masses,Shape,Margin,Density,Calcs,Typ_Benign,...,Arch_Dist,Asym,IMLN,SL,SDD,Assoc_Feats,Laterality,Quadrant,Depth,Distance
0,C0627,2016-11-22,1,C,0,NaN,NaN,NaN,0,NaN,...,1,0,0,0,0,0,L,1,-999,6
1,C0628,2016-12-06,1,B,1,-999,4.0,-999.0,0,NaN,...,0,0,0,0,0,1,L,5,-999,-999

    Number of Rows: 722
    Number of Columns: 24
      Column: Study
        Data Type: object
        Number of Unique Values: 379
        Most Frequent Value: C0682
        Frequency: 6
      Column: MG_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 270
      Column: Number
        Data Type: int64
        Number of Unique Values: 6
        Mean: 1.760387811634349
        Standard Deviation: 1.0277340596586464
        Min: 1
        Max: 6
      Column: BR_Comp
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: B
        Frequency: 323
      Column: Masses
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.4487534626038781
        Standard Deviation: 0.497711654064203
        Min: 0
        Max: 1
      Column: Shape
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: 3
        Frequency: 156
      Column: Margin
        Data Type: float64
        Number of Unique Values: 6
        Mean: -175.87654320987653
        Standard Deviation: 384.957136698536
        Min: -999.0
        Max: 5.0
      Column: Density
        Data Type: float64
        Number of Unique Values: 5
        Mean: -795.2253086419753
        Standard Deviation: 403.5148074765616
        Min: -999.0
        Max: 3.0
      Column: Calcs
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.22160664819944598
        Standard Deviation: 0.41561567433036295
        Min: 0
        Max: 1
      Column: Typ_Benign
        Data Type: float64
        Number of Unique Values: 3
        Mean: -149.7375
        Standard Deviation: 357.8818800866283
        Min: -999.0
        Max: 1.0
      Column: Benign_Type
        Data Type: float64
        Number of Unique Values: 5
        Mean: -711.9761904761905
        Standard Deviation: 459.32673360013325
        Min: -999.0
        Max: 8.0
      Column: Sus_Morph
        Data Type: float64
        Number of Unique Values: 3
        Mean: -149.1125
        Standard Deviation: 358.14525684420215
        Min: -999.0
        Max: 1.0
      Column: Sus_Type
        Data Type: object
        Number of Unique Values: 10
        Most Frequent Value: 1
        Frequency: 50
      Column: Distr
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: 3
        Frequency: 68
      Column: Arch_Dist
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.05124653739612189
        Standard Deviation: 0.22065304071716427
        Min: 0
        Max: 1
      Column: Asym
        Data Type: int64
        Number of Unique Values: 5
        Mean: 0.45429362880886426
        Standard Deviation: 0.9986063032503848
        Min: 0
        Max: 4
      Column: IMLN
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.09418282548476455
        Standard Deviation: 0.2922853845156096
        Min: 0
        Max: 1
      Column: SL
        Data Type: int64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0
        Max: 0
      Column: SDD
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.0013850415512465374
        Standard Deviation: 0.037216146378239265
        Min: 0
        Max: 1
      Column: Assoc_Feats
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: 0
        Frequency: 568
      Column: Laterality
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: L
        Frequency: 368
      Column: Quadrant
        Data Type: object
        Number of Unique Values: 16
        Most Frequent Value: 2
        Frequency: 211
      Column: Depth
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: -999
        Frequency: 594
      Column: Distance
        Data Type: object
        Number of Unique Values: 38
        Most Frequent Value: -999
        Frequency: 228

  Processing sheet: RECALL
First two rows of sheet: RECALL

,Study,Initial Assessment,MG_Date,Recall,Same_Day_Img,Addl_Mammo,Addl_Mammo_Date,Addl_US,Addl_US_Date,Addl_MRI,Addl_MRI_Date,SC,MV,SM,XCC,CV,TV,Other,Final_Tech
0,C0627,2013-08-20,2016-11-22,0.0,1.0,0.0,NaT,1.0,2016-09-08,1.0,2016-09-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MG
1,C0628,2013-03-19,2016-12-06,0.0,0.0,0.0,NaT,1.0,2016-11-17,1.0,2016-11-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MG

    Number of Rows: 309
    Number of Columns: 19
      Column: Study
        Data Type: object
        Number of Unique Values: 309
        Most Frequent Value: C0627
        Frequency: 1
      Column: Initial Assessment
        Data Type: datetime64[ns]
        Number of Unique Values: 10
      Column: MG_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 227
      Column: Recall
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.2
        Standard Deviation: 0.42163702135578396
        Min: 0.0
        Max: 1.0
      Column: Same_Day_Img
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.3076923076923077
        Standard Deviation: 0.48038446141526137
        Min: 0.0
        Max: 1.0
      Column: Addl_Mammo
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.1
        Standard Deviation: 0.31622776601683794
        Min: 0.0
        Max: 1.0
      Column: Addl_Mammo_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 1
      Column: Addl_US
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.9
        Standard Deviation: 0.31622776601683794
        Min: 0.0
        Max: 1.0
      Column: Addl_US_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 9
      Column: Addl_MRI
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.5
        Standard Deviation: 0.5270462766947299
        Min: 0.0
        Max: 1.0
      Column: Addl_MRI_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 5
      Column: SC
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.03296703296703297
        Standard Deviation: 0.17953950048508008
        Min: 0.0
        Max: 1.0
      Column: MV
        Data Type: float64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0.0
        Max: 0.0
      Column: SM
        Data Type: float64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0.0
        Max: 0.0
      Column: XCC
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.03296703296703297
        Standard Deviation: 0.17953950048508008
        Min: 0.0
        Max: 1.0
      Column: CV
        Data Type: float64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0.0
        Max: 0.0
      Column: TV
        Data Type: float64
        Number of Unique Values: 2
        Mean: 0.01098901098901099
        Standard Deviation: 0.10482848367219169
        Min: 0.0
        Max: 1.0
      Column: Other
        Data Type: float64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0.0
        Max: 0.0
      Column: Final_Tech
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: MG
        Frequency: 296

  Processing sheet: Off Study
First two rows of sheet: Off Study

,Study,MG_Date,Number,BR_Comp,Masses,Shape,Margin,Density,Calcifications,Typically_Benign,...,Arch_Dist,Asym,IMLN,SL,SDD,Assoc_Feats,Laterality,Quadrant,Depth,Distance
0,C0651,2016-12-14,1,C,0,NaN,NaN,NaN,1,0.0,...,0,0,0,0,0,"6, 7",R,2,-999,5
1,C0651,2016-12-14,2,C,1,2.0,-999.0,-999.0,0,NaN,...,0,0,0,0,0,0,R,1,-999,1

    Number of Rows: 26
    Number of Columns: 24
      Column: Study
        Data Type: object
        Number of Unique Values: 9
        Most Frequent Value: C0651
        Frequency: 5
      Column: MG_Date
        Data Type: datetime64[ns]
        Number of Unique Values: 9
      Column: Number
        Data Type: int64
        Number of Unique Values: 5
        Mean: 2.230769230769231
        Standard Deviation: 1.2428255648381974
        Min: 1
        Max: 5
      Column: BR_Comp
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: C
        Frequency: 21
      Column: Masses
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.23076923076923078
        Standard Deviation: 0.4296689244236597
        Min: 0
        Max: 1
      Column: Shape
        Data Type: float64
        Number of Unique Values: 3
        Mean: -331.3333333333333
        Standard Deviation: 517.1725695226562
        Min: -999.0
        Max: 3.0
      Column: Margin
        Data Type: float64
        Number of Unique Values: 4
        Mean: -330.3333333333333
        Standard Deviation: 517.9481312512545
        Min: -999.0
        Max: 5.0
      Column: Density
        Data Type: float64
        Number of Unique Values: 3
        Mean: -665.1666666666666
        Standard Deviation: 517.172472843119
        Min: -999.0
        Max: 3.0
      Column: Calcifications
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.38461538461538464
        Standard Deviation: 0.4961389383568339
        Min: 0
        Max: 1
      Column: Typically_Benign
        Data Type: float64
        Number of Unique Values: 3
        Mean: -99.8
        Standard Deviation: 315.9468309700226
        Min: -999.0
        Max: 1.0
      Column: Benign_Type
        Data Type: float64
        Number of Unique Values: 2
        Mean: -495.5
        Standard Deviation: 712.0565286548533
        Min: -999.0
        Max: 8.0
      Column: Sus_Morph
        Data Type: float64
        Number of Unique Values: 3
        Mean: -99.2
        Standard Deviation: 316.1577665238248
        Min: -999.0
        Max: 1.0
      Column: Sus_Type
        Data Type: float64
        Number of Unique Values: 5
        Mean: -248.125
        Standard Deviation: 463.451164787464
        Min: -999.0
        Max: 4.0
      Column: Distr
        Data Type: float64
        Number of Unique Values: 5
        Mean: -497.9
        Standard Deviation: 528.2073351335523
        Min: -999.0
        Max: 5.0
      Column: Arch_Dist
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.038461538461538464
        Standard Deviation: 0.1961161351381839
        Min: 0
        Max: 1
      Column: Asym
        Data Type: int64
        Number of Unique Values: 3
        Mean: 0.8461538461538461
        Standard Deviation: 1.2551432648843777
        Min: 0
        Max: 3
      Column: IMLN
        Data Type: int64
        Number of Unique Values: 2
        Mean: 0.038461538461538464
        Standard Deviation: 0.19611613513818402
        Min: 0
        Max: 1
      Column: SL
        Data Type: int64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0
        Max: 0
      Column: SDD
        Data Type: int64
        Number of Unique Values: 1
        Mean: 0.0
        Standard Deviation: 0.0
        Min: 0
        Max: 0
      Column: Assoc_Feats
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 0
        Frequency: 20
      Column: Laterality
        Data Type: object
        Number of Unique Values: 2
        Most Frequent Value: L
        Frequency: 17
      Column: Quadrant
        Data Type: object
        Number of Unique Values: 9
        Most Frequent Value: 1
        Frequency: 6
      Column: Depth
        Data Type: int64
        Number of Unique Values: 3
        Mean: -922.0
        Standard Deviation: 272.0183817318234
        Min: -999
        Max: 3
      Column: Distance
        Data Type: int64
        Number of Unique Values: 11
        Mean: -225.3846153846154
        Standard Deviation: 432.1342455231316
        Min: -999
        Max: 16


Processing file: U01 Study Log 2024.xlsx
  Processing sheet: Definitions
First two rows of sheet: Definitions

,Tab,Column Name,Description,Key,Unnamed: 4
0,A,Study,Study ID/Number,C#### - Cases ...,NaN
1,B,Age,Age of patient at time of mammogram (cases and...,NaN,NaN

    Number of Rows: 37
    Number of Columns: 5
      Column: Tab
        Data Type: object
        Number of Unique Values: 37
        Most Frequent Value: A
        Frequency: 1
      Column: Column Name
        Data Type: object
        Number of Unique Values: 37
        Most Frequent Value: Age
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 37
        Most Frequent Value: Age of patient at time of mammogram (cases and controls matched +/- 2 years)
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 20
        Most Frequent Value: 1 - yes                                                 0 - no
        Frequency: 5
      Column: Unnamed: 4
        Data Type: object
        Number of Unique Values: 1
        Most Frequent Value: *"(1) case subjects that have been in screening for at least two years before the detection of breast disease (by any means).  The two year screening criterion represents a range that includes women who were found to have breast cancer during their second year (after the first year) of screening as well as women screened and found normal up to 30 months prior to their breast cancer diagnosis, (2) case subjects with prior screening history of some kind other than the screening history described above in group-2 before the detection of breast cancer, and (3) case subjects with no history of screening before the detection of breast cancer.”                                                                                            *For group 1, does that means that between the time of their breast cancer diagnosis and their last screening it has to be 30 months or less apart?  Or is it the time from when they first started screening to the diagnosis is less than 30 months? Time between last screening and diagnosis must be 30 months or less.                                                                        *For group 3, Erin mentioned that they would be considered in their group if their last mammogram was a long distance from their diagnosis, do you have a specific time such as 5, 10 or 15 years? If the patient has any history of previous screening, they are not Group 3. If you have documentation that the patient has a history of screening, regardless of how long it has been, they should be in Group 1 or 2 depending on time frame. If the patient and/or documentation states that the current screening, i.e. the screening that led to the diagnosis, is baseline, they should be in Group 3.
        Frequency: 1

  Processing sheet: Information
First two rows of sheet: Information

,Study,Age,Side,Histology,ER,PR,HER,Grp,HRT,HRT_Duration,...,weight,height,ethnicity,race,hx_other_cancer,MRI,Weight_kg,Height_in,Height_m,BMI
0,C0627,62,L,2,1,1,-1,1,0,NaN,...,171,"5'7""",nh,w,0,1,77.5643,67,1.7018,26.7821
1,N0627,63,NaN,NaN,NaN,NaN,NaN,1,0,NaN,...,145,"5'6""",nh,b,0,0,65.7709,66,1.6764,23.4034

    Number of Rows: 752
    Number of Columns: 35
      Column: Study
        Data Type: object
        Number of Unique Values: 727
        Most Frequent Value: -
        Frequency: 26
      Column: Age
        Data Type: object
        Number of Unique Values: 61
        Most Frequent Value: 62
        Frequency: 31
      Column: Side
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: L
        Frequency: 201
      Column: Histology
        Data Type: object
        Number of Unique Values: 16
        Most Frequent Value: 2
        Frequency: 162
      Column: ER
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: 1
        Frequency: 307
      Column: PR
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: 1
        Frequency: 280
      Column: HER
        Data Type: object
        Number of Unique Values: 7
        Most Frequent Value: -1
        Frequency: 228
      Column: Grp
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 1
        Frequency: 425
      Column: HRT
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 0
        Frequency: 655
      Column: HRT_Duration
        Data Type: object
        Number of Unique Values: 37
        Most Frequent Value: 1
        Frequency: 31
      Column: HRT_age
        Data Type: object
        Number of Unique Values: 44
        Most Frequent Value: 50
        Frequency: 27
      Column: Loc
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: PACS
        Frequency: 627
      Column: MCC_os
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: M
        Frequency: 484
      Column: Details
        Data Type: object
        Number of Unique Values: 93
        Most Frequent Value: -
        Frequency: 26
      Column: Family_Hx_BC
        Data Type: object
        Number of Unique Values: 69
        Most Frequent Value: none
        Frequency: 488
      Column: Intl_Detection_Abnormality
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 1
        Frequency: 385
      Column: Type_Imaging
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: MG
        Frequency: 716
      Column: Machine_Number
        Data Type: object
        Number of Unique Values: 6
        Most Frequent Value: D4
        Frequency: 266
      Column: Current_menses
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 0
        Frequency: 524
      Column: hysterectomy
        Data Type: object
        Number of Unique Values: 4
        Most Frequent Value: 0
        Frequency: 530
      Column: Hyst_age
        Data Type: object
        Number of Unique Values: 35
        Most Frequent Value: -999
        Frequency: 38
      Column: Hx_bx
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 0
        Frequency: 502
      Column: Hx_bx_Amount
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: 1
        Frequency: 146
      Column: MG_density
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: 2
        Frequency: 320
      Column: MG_birads
        Data Type: object
        Number of Unique Values: 11
        Most Frequent Value: 1
        Frequency: 159
      Column: weight
        Data Type: object
        Number of Unique Values: 165
        Most Frequent Value: -
        Frequency: 26
      Column: height
        Data Type: object
        Number of Unique Values: 17
        Most Frequent Value: 5'4"
        Frequency: 114
      Column: ethnicity
        Data Type: object
        Number of Unique Values: 5
        Most Frequent Value: nh
        Frequency: 599
      Column: race
        Data Type: object
        Number of Unique Values: 8
        Most Frequent Value: w
        Frequency: 585
      Column: hx_other_cancer
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 0
        Frequency: 676
      Column: MRI
        Data Type: object
        Number of Unique Values: 3
        Most Frequent Value: 0
        Frequency: 486
      Column: Weight_kg
        Data Type: object
        Number of Unique Values: 165
        Most Frequent Value: #VALUE!
        Frequency: 26
      Column: Height_in
        Data Type: object
        Number of Unique Values: 17
        Most Frequent Value: 64
        Frequency: 114
      Column: Height_m
        Data Type: object
        Number of Unique Values: 17
        Most Frequent Value: 1.6256
        Frequency: 114
      Column: BMI
        Data Type: object
        Number of Unique Values: 539
        Most Frequent Value: #VALUE!
        Frequency: 26


Processing file: U01 Data Dictionary 449.xlsx
  Processing sheet: Study_Log
First two rows of sheet: Study_Log

,Tab,Column Name,Description,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Age,Age of patient at time of mammogram (cases and...,NaN

    Number of Rows: 34
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 34
        Most Frequent Value: A
        Frequency: 1
      Column: Column Name
        Data Type: object
        Number of Unique Values: 34
        Most Frequent Value: Age
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 34
        Most Frequent Value: Age of patient at time of mammogram (cases and controls matched +/- 2 years)
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 19
        Most Frequent Value: 1 - yes                                                 0 - no
        Frequency: 5

  Processing sheet: Birads_Log
First two rows of sheet: Birads_Log

  Tab   Column              Description            Key
0   A    Study          Study ID/Number  C##### - Case
1   B  MG_Date  Date of Study Mammogram            NaN

    Number of Rows: 24
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: A
        Frequency: 1
      Column: Column
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: Arch_Dist
        Frequency: 1
      Column: Description
        Data Type: object
        Number of Unique Values: 24
        Most Frequent Value: Are there any associated features?
        Frequency: 1
      Column: Key
        Data Type: object
        Number of Unique Values: 21
        Most Frequent Value: 0 - Calcification is not a benign type                                         1 - Calcification is a benign type
        Frequency: 1

  Processing sheet: Hormone_Log
First two rows of sheet: Hormone_Log

,Tab,Column,Descriptions,Key
0,A,Study,Study ID/Number,C#### - Cases ...
1,B,Loc,NaN,NaN

    Number of Rows: 41
    Number of Columns: 4
      Column: Tab
        Data Type: object
        Number of Unique Values: 41
        Most Frequent Value: A
        Frequency: 1
      Column: Column
        Data Type: object
        Number of Unique Values: 41
        Most Frequent Value: Avg_#_CEP17_copies_per_cell
        Frequency: 1
      Column: Descriptions
        Data Type: object
        Number of Unique Values: 30
        Most Frequent Value: Found in molecular pathology report
        Frequency: 4
      Column: Key
        Data Type: object
        Number of Unique Values: 18
        Most Frequent Value: 0 - single value                      1 - multiple values
        Frequency: 7